
/* 
FONTE USADA NOME DA EMPRESA
*/

@font-face 
{
    font-family: 'Android 101';
    src: url('Android101.woff2') format('woff2'),
        url('Android101.woff') format('woff'),
        url('Android101.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.tarjaPreta
{
	
	font-family: 'android 101';
	background-color: #000;
	padding-bottom: 10px;
	opacity: 0.8;
}






/* 
	TAMANHO DOS CARDS
*/

.card-img-top
{
	width: 140px;
}


/* 
	ESCONDE O MARQUEE PARA TELAS DESKTOP
*/

.mobileLetter
{
	display: none;
}


.carousel
{
	border: 0;
}

/* 
	LOGO DA EMPRESA
*/

.logo
{
	width: 		  65px;
	margin-left:  7px;
}

.nomeEmpresa
{
    font-family: 'Android 101';
	font-size:    25px;
	font-color:   blue;
	margin-left:  35px;
}


/* 
	MEDIA QUERIES
*/


@media (max-width: 500px)
{
  .nomeEmpresa
   { 	 
	
	display: 	  none;
	font-size:	  15px;
	text-align:   center;
	margin-top:   5px;
	
   }
   
   .tarjaPretaMobile
	{
	
		font-size: 10px;
	}

   
   
   .mobileLetter
	{
		font-family:       'Android 101';
		display: 	 	   inline;
		text-align: 	   center;
		vertical-align:    middle;
		height: 		   500px;
		width:			   100%;
        background-color:  #212529;		
		
	}
	
	marquee
	{
		text-align: center;
	}
	
   
   .logo
   {
	   margin-left:  5px;
	   margin-right: 5px;
	   width:        60px;
   }
   
}
