
@font-face 
{
     font-family: android;
     src:url('android101.ttf');
}


.whatApp
{	
}


.card-img-top
{
	width: 140px;
}



.mobileLetter
{
	display: none;
}


.carousel
{
	border: 0;
}

.logo
{
	width: 		  65px;
	margin-left:  7px;
}

.nomeEmpresa
{
	font-family:  arial;
	font-size:    25px;
	margin-left:  35px;	
}


@media (max-width: 500px)
{
  .nomeEmpresa
   {
    
	display: 	  none;
	font-size:	  15px;
	text-align:   center;
   }
   
   .mobileLetter
	{
		display: 	inline;
		text-align: center
		margin-bottom: 	0px;
	}
	
	marquee
	{
		width: 		185px;

	}
	
   
   .logo
   {
	   margin-left: 5px;
	   width: 		60px;
   }
   
}
