
.slideef
{
   animation: slideShow 5s;	
}


@keyframes slideShow
{
	0%
	{
	   opacity: 1;
	}
	
	100%
	{
	   opacity: 0;
	}
}


@font-face 
{
    font-family: 'Android 101';
    src: url('Android101.woff2') format('woff2'),
        url('Android101.woff') format('woff'),
        url('Android101.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.whatApp
{	
}


.card-img-top
{
	width: 140px;
}



.mobileLetter
{
	display: none;
}


.carousel
{
	border: 0;
}

.logo
{
	width: 		  65px;
	margin-left:  7px;
}

.nomeEmpresa
{
        font-family: 'Android 101';
	font-size:    25px;
	margin-left:  35px;	
}


@media (max-width: 500px)
{
  .nomeEmpresa
   {
    	 
	display: 	  none;
	font-size:	  15px;
	text-align:   	  center;
   }
   
   .mobileLetter
	{
		font-family:     'Android 101';
		display: 	 inline;
		text-align: 	 center;
	}
	
	marquee
	{
		width: 		50%;

	}
	
   
   .logo
   {
	   margin-left: 5px;
	   width: 		60px;
   }
   
}
